html, body {
  margin: 0px;
  background: black;
  font-family: 'Arial';
}

.score {
  margin: 20px;
  margin-top: 30px;
}

.note-label {
  color: white;
}

.score-row {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.beat-cell {
  width: 45px;
  height: 40px;

  background: white;

  opacity: 0.25;

  border: 1px solid #202020;

  transition: opacity 0.3s, box-shadow 0.3s;
}

.beat-cell:nth-child(4n) {
  margin-right: 20px;
}

.beat-cell.active {
  opacity: 0.70;
}

.beat-cell.active.playing {
  opacity: 1;
}

.beat-cell.playing.inactive {
  opacity: 0.5;
}

.score-row:nth-child(1n) .beat-cell.active {
  background: #BAD8F5;
  box-shadow: 0px 2px 25px 0px #BAD8F5;
}

.score-row:nth-child(2n) .beat-cell.active {
  background: #CFFFD8;
  box-shadow: 0px 2px 25px 0px #CFFFD8;
}

.score-row:nth-child(3n) .beat-cell.active {
  background: #FFD6C2;
  box-shadow: 0px 2px 25px 0px #FFD6C2;
}

.score-row:nth-child(4n) .beat-cell.active {
  background: #E8E3BC;
  box-shadow: 0px 2px 25px 0px #E8E3BC;
}

.score-row:nth-child(5n) .beat-cell.active {
  background: #EFC3F5;
  box-shadow: 0px 2px 25px 0px #EFC3F5;
}

.score-row:nth-child(1n) .beat-cell.active.playing {
  background: #BAD8F5;
  box-shadow: 0px 2px 50px 0px #BAD8F5;
}

.score-row:nth-child(2n) .beat-cell.active.playing {
  background: #CFFFD8;
  box-shadow: 0px 2px 50px 0px #CFFFD8;
}

.score-row:nth-child(3n) .beat-cell.active.playing {
  background: #FFD6C2;
  box-shadow: 0px 2px 50px 0px #FFD6C2;
}

.score-row:nth-child(4n) .beat-cell.active.playing {
  background: #E8E3BC;
  box-shadow: 0px 2px 50px 0px #E8E3BC;
}

.score-row:nth-child(5n) .beat-cell.active.playing {
  background: #EFC3F5;
  box-shadow: 0px 2px 50px 0px #EFC3F5;
}


.beat-marker-row {
  height: 20px;
}


.beat-marker {
  position: absolute;

  margin-left: 38px;
  text-align: center;
  color: white;
}

.controls {
  display: flex;
  justify-content: center;
}

button {
  font-size: 1.0em;

  background: azure;
  color: #404050;

  height: 30px;

  margin: 5px;

  text-align: center;

  border: none;
  border-radius: 3px;

  box-shadow: 0px 2px 5px 0px lightblue;
}

select {
  font-size: 1.0em;

  background: azure;
  color: #404050;

  height: 30px;

  margin: 5px;

  border: none;

  box-shadow: 0px 2px 5px 0px lightblue;
}
