html, body {
  margin: 0px;
}

.note-label {
  padding: 30px;
}

.beat-cell {
  padding: 10px 20px;
  border: 1px solid white;
}

.score-row {
  padding: 10px 0px;
}

.score-row:nth-child(odd) {
  background: lightgray;
}

.score-row:nth-child(even) {
  background: #F1F1F1;
}

.beat-marker-row {
  height: 20px;
}

.beat-marker {
  position: absolute;

  margin-left: 14px;
}